<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/5973889/pexels-photo-5973889.jpeg?auto=compress&cs=tinysrgb&w=800);">
  <div class="container">
    <h1>Foryou</h1>
    <p>Babysitting, bricolage jardinage, traiteur, dogsitting... for you !</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>

<div class="bg-white">
  <div class="container p-5 bg-white">
    <h1>Ils proposent leur service :</h1>
    <div class="cards p-5">

      <div class="card-offer">
        <img src="https://images.pexels.com/photos/4505166/pexels-photo-4505166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <div class="card-offer-infos">
          <div>
            <h2>Jardinage</h2>
            <p>J'entretiens votre jardin ainsi que vos plantes</p>
          </div>
          <h2 class="card-offer-pricing">25€/h</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <div class="card-offer">
        <img src="https://images.pexels.com/photos/7447036/pexels-photo-7447036.jpeg?auto=compress&cs=tinysrgb&w=800" />
        <div class="card-offer-infos">
          <div>
            <h2>Bricolage</h2>
            <p>Je répare tout !</p>
          </div>
          <h2 class="card-offer-pricing">50€/h</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <div class="card-offer">
        <img src="https://images.pexels.com/photos/2696064/pexels-photo-2696064.jpeg?auto=compress&cs=tinysrgb&w=800" />
        <div class="card-offer-infos">
          <div>
            <h2>Traiteur</h2>
            <p>Je cuisine rien que pour vous.</p>
          </div>
          <h2 class="card-offer-pricing">80€/h</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
  </div>
</div>
