.btn-flat {
  color: #3C1A5B;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
}

.btn-flat:hover {
  background: #3C1A5B;
  color: white;
}

.btn-flat-create {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3C1A5B;
}

.btn-flat-create:hover {
  background: #210e33;
  color: white;
}

.btn-show-offer {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3C1A5B;
  transition: 0.3s ease;
  text-decoration: none;
  border: solid;
  border-color: #3C1A5B;

  .btn-show-offer:hover {
    background: white;
    color: #3C1A5B;
    border: solid;
    border-color: #3C1A5B;
  }
}
