.icon-bar {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  color: #78628c;
  padding: 5px 20px;
}

.icon-bar i:hover {
  color: #432c58;
}
