.icon-bar {
  margin: 20px;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  font-size: 32px;
  padding: 5px 0px;
}

.icon-bar .btn {
  color: #3c1a5b;
}

.icon-bar .btn:hover {
  color: #7d6495;
}

.btn p {
  font-size: small;
}
