.navbar-lewagon {
  justify-content: space-between;
  background: #3C1A5B;
  color: white;

  .navbar-collapse {
    flex-grow: 0;
  }

}

.navbar-lewagon .navbar-brand img {
  height: 10vh;
}

.navbar-lewagon .nav-link {
  color: white;
}
