.btn-update {
  color: white;
  padding: 5px 30px;
  border-radius: 4px;
  background: #3C1A5B;
  transition: 0.3s ease;

}

.btn-destroy {
  color: white;
  padding: 5px 30px;
  border-radius: 4px;
  background: #3C1A5B;
  transition: 0.3s ease;
  margin-right: 10px;
}
